
@font-face {
  font-family: 'moderat';
  src: url('./fonts/Moderat-Bold.eot');
  src: url('./fonts/Moderat-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Moderat-Bold.woff2') format('woff2'),
    url('./fonts/Moderat-Bold.woff') format('woff');
  font-weight: 700;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'moderat';
  src: url('./fonts/Moderat-Bold-Italic.eot');
  src: url('./fonts/Moderat-Bold-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/Moderat-Bold-Italic.woff2') format('woff2'),
    url('./fonts/Moderat-Bold-Italic.woff') format('woff');
  font-weight: 700;
  font-display: auto;
  font-style: italic;
}

@font-face {
  font-family: 'moderat';
  src: url('./fonts/Moderat-Regular.eot');
  src: url('./fonts/Moderat-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Moderat-Regular.woff2') format('woff2'),
    url('./fonts/Moderat-Regular.woff') format('woff');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'moderat';
  src: url('./fonts/Moderat-Regular.eot');
  src: url('./fonts/Moderat-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Moderat-Regular.woff2') format('woff2'),
    url('./fonts/Moderat-Regular.woff') format('woff');
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'moderat';
  src: url('./fonts/Moderat-Regular-Italic.eot');
  src: url('./fonts/Moderat-Regular-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/Moderat-Regular-Italic.woff2') format('woff2'),
    url('./fonts/Moderat-Regular-Italic.woff') format('woff');
  font-weight: 400;
  font-display: auto;
  font-style: italic;
}

@font-face {
  font-family: 'sunset-gothic';
  src: url('./fonts/sunset-gothic-bold-pro.eot');
  src: url('./fonts/sunset-gothic-bold-pro.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/sunset-gothic-bold-pro.woff2') format('woff2'),
    url('./fonts/sunset-gothic-bold-pro.woff') format('woff'),
    url('./fonts/sunset-gothic-bold-pro.ttf') format('truetype');
  font-weight: 700;
  font-display: auto;
  font-style: normal;
}
