@font-face {
	font-family: 'geomanist';
	src: url('./fonts/geomanist/geomanist-extralight.woff');
	src: url('./fonts/geomanist/geomanist-extralight.woff2') format('woff2');
	font-weight: 200;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'geomanist';
	src: url('./fonts/geomanist/geomanist-extralight-italic.woff');
	src: url('./fonts/geomanist/geomanist-extralight-italic.woff2')
		format('woff2');
	font-weight: 200;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'geomanist';
	src: url('./fonts/geomanist/geomanist-light.woff');
	src: url('./fonts/geomanist/geomanist-light.woff2') format('woff2');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'geomanist';
	src: url('./fonts/geomanist/geomanist-light-italic.woff');
	src: url('./fonts/geomanist/geomanist-light-italic.woff2') format('woff2');
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'geomanist';
	src: url('./fonts/geomanist/geomanist-regular.woff');
	src: url('./fonts/geomanist/geomanist-regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'geomanist';
	src: url('./fonts/geomanist/geomanist-regular-italic.woff');
	src: url('./fonts/geomanist/geomanist-regular-italic.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'geomanist';
	src: url('./fonts/geomanist/geomanist-medium.woff');
	src: url('./fonts/geomanist/geomanist-medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'geomanist';
	src: url('./fonts/geomanist/geomanist-medium-italic.woff');
	src: url('./fonts/geomanist/geomanist-medium-italic.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'geomanist';
	src: url('./fonts/geomanist/geomanist-bold.woff');
	src: url('./fonts/geomanist/geomanist-bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'geomanist';
	src: url('./fonts/geomanist/geomanist-bold-italic.woff');
	src: url('./fonts/geomanist/geomanist-bold-italic.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'geomanist';
	src: url('./fonts/geomanist/geomanist-ultra.woff');
	src: url('./fonts/geomanist/geomanist-ultra.woff2') format('woff2');
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'geomanist';
	src: url('./fonts/geomanist/geomanist-ultra-italic.woff');
	src: url('./fonts/geomanist/geomanist-ultra-italic.woff2') format('woff2');
	font-weight: 800;
	font-display: swap;
	font-style: italic;
}
