@use './element.scss' as *;
@use './fonts.scss' as *;
@use './base.scss' as *;

#app {
	margin: 0 auto;
	font-weight: normal;
	height: 100vh;
	position: relative;
}

.primary {
	color: var(--color-primary);
}

.secondary {
	color: var(--color-secondary);
}

.tritiary {
	color: var(--color-tritiary);
}

a {
	text-decoration: underline;
	color: var(--color-text-dark);
	transition: 0.4s;

	&:hover {
		color: var(--color-tritiary);
		cursor: pointer;
	}

	&:active {
		color: var(--color-tritiary);
	}
}

.el-button--large {
	color: var(--color-text-xlight) !important;
	height: 64px;
	span {
		font-weight: 700;
		font-size: 18px;
	}
}
