@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.primary {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
  	color: var(--color-primary-shade-1);
		cursor: pointer;
  }

	a:active {
		color: var(--color-primary-shade-2);
	}
}
