@import './element.scss';
@import './fonts.scss';
@import './base.scss';

#app {
  margin: 0 auto;
  font-weight: normal;
	height: 100vh;
	position: relative;
}

.tritiary {
	color: var(--color-tritiary);
}

h1 {
	font-size: var(--font-size-2xl);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;

	&:hover {
		color: var(--el-color-primary-light-3);
		cursor: pointer;
	}

	&:active {
		color: var(--el-color-primary-dark-2);
	}
}