@import './element.scss';
@import './fonts.scss';
@import './base.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
	height: 100vh;
	display: flex;
	flex-direction: column;

	main {
		padding-top: var(--spacing-m);
		max-width: 900px;
		min-width: 900px;
		margin: auto;
		flex-grow: 1;
	}
}

.tritiary {
	color: var(--color-tritiary);
}

h1 {
	font-size: var(--font-size-2xl);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;

	&:hover {
		color: var(--el-color-primary-light-3);
		cursor: pointer;
	}

	&:active {
		color: var(--el-color-primary-dark-2);
	}
}